body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: #F2F3F4
}

.kaleb-is {
  font-style: normal;
  font-weight: 200;
  margin-bottom: 0;
  margin-left: 1.5rem;
  font-size: 24px;
}

.post-title {
  font-style: normal;
  font-weight: 200;
  margin-bottom: 0;
  margin-left: 1.5rem;
  font-size: 24px;
}

.post-date {
  margin-left: 1.5rem;
  margin-top: .5em;
}

@media (min-width: 600px) {
  .kaleb-is {
    font-size: 36px;
  }
}

.contact {
  margin-top: .25em;
  margin-left: 1.5rem;
  color: #808080;
  font-size: 12px;
}

@media (min-width: 600px) {
  .contact {
    font-size: 16px;
    color: #808080
  }
}

.contact a:link, 
.contact a:visited, 
.contact a:hover, 
.contact a:active {
  color: #CE2939
}

.picture-container {
  padding-top: 2em;
  font-size: 16px;
}

.picture-header {
  text-align: left;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.picture {
  display: block;
  margin: 0 auto;
  width: 300px;
}

main.main-post {
  margin-top: 2em; 
  margin-left: 2em; 
  margin-right: 2em; 
}

#canvas {
  margin: 0 auto; 
  height: 300px;
  width: 300px;
}

.canvas-caption {
  text-align: center;
}

.home-link {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1.5rem;
  color: #CE2939
}

.rick-pic-container {
  margin: 2em 0;
}

.rick-pic {
  width: 300px;
  margin: 0 auto;
  display: block;
}

.rick-pic-caption {
  margin: .5em auto;
  width: 300px;
  
}

@media (min-width: 600px) {
  .rick-pic {
    width: 500px;
  }
  .rick-pic-caption {
    width: 500px;
  }
}

@media (min-width: 1000px) {
  .rick-pic {
    width: 800px;
  }
  .rick-pic-caption {
    width: 800px;
  }
}
